
{% extends 'layout.html' %} {% block content %}
<h2>Register</h2>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}
<form method="post" action="{{ url_for('register') }}">
  <label for="username">Username:</label>
  <input type="text" name="username" required />
  <label for="password">Password:</label>
  <input type="password" name="password" required />
  <button type="submit">Register</button>
</form>
{% endblock %}
